.alert {
  margin: 10px;
}

.container {
  margin-top: 5%;
  margin-bottom: 5%;
  .teamCard {
    min-width: 120px;
    .row-one {
      padding-top: 0;
    }
  }
  #removeBtn {
    padding: 0px;
    margin-right: 5px;
    align-self: end;
    color: red;
  }
}
